@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
#main-doc {
    position: absolute;
    margin:30px;
    padding: 20px;
    padding-bottom: 110px;
    line-height: 1.8;
    width:90%;
    left:4%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;

  }
.main-section{
  margin-top:100px;
}
#main-doc #Introduction{
  margin-top:0;
  padding-top:30px;
}
.main-section header{
  font-weight: 700;
  font-size: 2.3em;
  color:rgb(82, 194, 157);
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  background-color: #313b34;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  padding-left:15px;
}

#footer{
  position:fixed;
  bottom:-115px;
  left:0;
  right:0px;
}
#getstarted{
  position:fixed;
  height:40%;width:100%;
  top:25%;
  background-color: rgb(126, 173, 151);
  z-index: 100;
  color:rgb(255, 230, 0);
  display:flex;flex-direction:column;
  box-shadow: 0px 0px 500px 150px rgb(44, 44, 44);
  font-size:2em;
  font-weight: 900;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  font-family: 'DM Sans', sans-serif;
}
#getstarted button{
  align-self:flex-start;
  width:100%;
  padding:15px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  background-color: bisque;
  border:10px solid black;
  font-family: 'Permanent Marker', cursive;
}
#getstarted a{
  text-decoration:none;
  color:rgb(255, 216, 165);
}
@media (max-width:500px){
  #main-doc{
    width:90%;
    padding:0;
    padding-bottom:100px;
  }
  .main-section header{
    padding-top:48px;
    font-size: 1.7em;
  }
  #footer{
    position:fixed;
    bottom:0 !important;
    right:0;
    left:0;
  }
  #getstarted{
    height:60%;margin:auto;
    text-align:center;
  }
}
@media (max-width:1000px) and (min-width:600px){
  #main-doc{
    width:80%;  
    
  }
  .main-section header{
    padding-top:45px;
    font-size: 1.3em;
  }
  #footer{
    position:fixed;
    bottom:-40px !important;
    left:0;
    right:0px;
  }
  #getstarted{
    height: 50%;
    margin:auto;
  }
}

li{
  color:rgb(194, 252, 228);
}
